/src/applications/dspic/TurnoutBossBootloader.X/.generated_files/
/src/applications/dspic/TurnoutBossBootloader.X/dist/
/src/applications/dspic/TurnoutBossBootloader.X/build/

/src/applications/dspic/TurnoutBossBootloader.X/nbproject/Makefile-default.mk
/src/applications/dspic/TurnoutBossBootloader.X/nbproject/Makefile-genesis.properties
/src/applications/dspic/TurnoutBossBootloader.X/nbproject/Makefile-local-default.mk


/src/applications/dspic/TurnoutBOSS.X/.generated_files/
/src/applications/dspic/TurnoutBOSS.X/dist/
/src/applications/dspic/TurnoutBOSS.X/build/
/src/applications/dspic/TurnoutBOSS.X/nbproject/private/

/src/applications/dspic/TurnoutBOSS.X/nbproject/Makefile-default.mk
/src/applications/dspic/TurnoutBOSS.X/nbproject/Makefile-genesis.properties
/src/applications/dspic/TurnoutBOSS.X/nbproject/Makefile-local-default.mk
 
/src/applications/dspic/turnoutboss_merged.hex
/src/applications/dspic/turnoutboss_merged_summed.hex
/src/applications/dspic/turnoutboss_merged_summed.hex.dshex

/src/applications/dspic/TurnoutBossCommon/turnoutboss_version.h

.DS_Store
/src/applications/dsPIC/TrainBoss.X/dist/